@page
@model CSCCSTRDB.Pages.Admin.Participants.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Participant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Participant.Id" />
            <div class="form-group">
                <label asp-for="Participant.Name" class="control-label"></label>
                <input asp-for="Participant.Name" class="form-control" />
                <span asp-validation-for="Participant.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.Pronouns" class="control-label"></label>
                <input asp-for="Participant.Pronouns" class="form-control" />
                <span asp-validation-for="Participant.Pronouns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.DiscordId" class="control-label"></label>
                <input asp-for="Participant.DiscordId" class="form-control" />
                <span asp-validation-for="Participant.DiscordId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Participant.IsCompetitor" /> @Html.DisplayNameFor(model => model.Participant.IsCompetitor)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Participant.QualifierRank" class="control-label"></label>
                <input asp-for="Participant.QualifierRank" class="form-control" />
                <span asp-validation-for="Participant.QualifierRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.QualifierScore" class="control-label"></label>
                <input asp-for="Participant.QualifierScore" class="form-control" />
                <span asp-validation-for="Participant.QualifierScore" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Participant.AdvancedToPlayoff" /> @Html.DisplayNameFor(model => model.Participant.AdvancedToPlayoff)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Participant.ReceivedGroupBye" /> @Html.DisplayNameFor(model => model.Participant.ReceivedGroupBye)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Participant.IsReferee" /> @Html.DisplayNameFor(model => model.Participant.IsReferee)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Participant.GroupId" class="control-label"></label>
                <select asp-for="Participant.GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                <span asp-validation-for="Participant.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.GroupRank" class="control-label"></label>
                <input asp-for="Participant.GroupRank" class="form-control" />
                <span asp-validation-for="Participant.GroupRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
